<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zombie Nest</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <div id="container">
        <div class="container">
            <div class="navbar-header">
                
    </div>
        <ul id="menu">
            
        <% if (currentZombie){ %>
        <li>
                <a  href="/">Zombie Nest</a>
        </li>
        <li>
            <a href="/edit">
            Hola, <%= currentZombie.name()%>
            </a>
        </li>
        <li>
        <a href="/re-weapons">Register a weapon</a>
        </li>
        <li>
        <a href="/weapons">Registered Weapons</a>
        </li>
        <li>
            <a href="/logout">Log Out</a>
		</li>
		<li>
			<a> <%= currentZombie.rol()%></a>
		</li>
        <% } else {%>  
            <li>
                    <a  href="/">Zombie Nest</a>
            </li>

        <li>
            
            <a href="/login">Login</a>
            
        </li>
        <li>
            <a href="/signup">Sign In</a>
        </li>
    
        <% } %>
        </ul>
    </div>
</div>
<div class="container">
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger" role="alert">
    <%= error %>
        </div>
    <% }) %>
    <% infos.forEach(function(info) { %>
        <div class= "alert alert-info" role="alert">
    <%  info %>
        </div>
    <% }) %>
    
