<% include _header %>
<h1> Show me the Weapons</h1>

<% weapons.forEach((weapon)=>{ %>
<div class="panel panel-default">
    <div class="panel-heading">
        <a>
        <label  class="col-form-label">Weapon:</label>
            <%= weapon.description %>
        </a>
    </div>
    <div class="row">
        <label  class="col-md-1 col-form-label">Strength:</label>
        <label  class="col-form-label"><%= weapon.force %></label>
    </div>
    <div class="row">
        <label  class="col-md-1 col-form-label">Category:</label>
        <label  class="col-form-label"><%= weapon.category %></label>
    </div>
    <div class="row">
        <label  class="col-md-1 col-form-label">Ammo:</label>
        <label  class="col-form-label"><%= weapon.ammo %></label>
    </div>
    </div>
    <% }) %>

    <% include _footer %>